@import '../CalendarCommon.css';

.day-view {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.day-view .calendar-header {
    height: 70px;
}

.day-view .grid-container {
    margin-top: 0;
}